In [5]:
num1= 3
num2= 4
result= num1+num2
print(result)

7

In [7]:
list1=[1,2.3,"string",'vikas','harsh',"sanya"]
print(list1)
list1.append(5)
print(list1)

[1, 2.3, 'string', 'vikas', 'harsh', 'sanya']
[1, 2.3, 'string', 'vikas', 'harsh', 'sanya', 5]

In [9]:
tuple1=(1,2,3,3.4,"harsh","badassvikas","sanya")
print(tuple1)

(1, 2, 3, 3.4, 'harsh', 'badassvikas', 'sanya')

In [10]:
schooldict = {'name_of_school': 'DPS_barra','name_of_student':'harsh_katiyar','class':'eleventh'}
print(schooldict)
print(schooldict['name_of_student' ])

{'name_of_school': 'DPS_barra', 'name_of_student': 'harsh_katiyar', 'class': 'eleventh'}
harsh_katiyar

In [11]:
str1 = 'india'
str2 = 'hello'
r = str1 + str2
print(r)

str1 *4

indiahello

'indiaindiaindiaindia'

In [12]:
num1=15
num2=3
num1%num2

num1 = 20
num2 = 10
num1//num2

2

In [13]:
x = 10
y = 20
z = 10
"""x = x - 2"""
y -= 30
print(y)

print(x == y or z == y)

-10
False

In [14]:
a = 14
b = 14
c = 15
print(not (a!= b or a== c))

a -=4
print(a)

a+= 100
print(a)


A =4
B =4 
print(not (A==B))

True
10
110
False

In [15]:
numseq = (1,1,2,2,524,36,78,26,345,4,6,8,3,2,6) 
print(3 in numseq)
print(400 in numseq)

True
False

In [16]:
age = input("enter_your_age: ")
print(age)

enter_your_age: 12
12